<template>
  <require from="./search"></require>
  <require from="./user-detail"></require>
  <require from = "../../profile/components/update/autocomplete-skills"></require>
  <div class="home">
    <md-card>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-color--transparent mdl-shadow--4dp content mdl-color-text--white-800 mdl-cell mdl-cell--8-col">
          <div class="mdl-grid search-content">
            <search execute.call="doSearch(query)"></search>
          </div>
        </div>
      </div>

      <md-card md-title="Results" if.bind="results">
        <a if.bind="notificationAllowed" md-button href="#modalCreateANotification"><i class="material-icons right">group</i>Ask People!</a>
        <p if.bind="!hasResults">
          No results were found for your search.
        </p>
        <md-collection if.bind="hasResults">
          <md-collection-item class="accent-text avatar" repeat.for="user of results">
            <user-detail user.bind="user"></user-detail>
          </md-collection-item>
        </md-collection>
      </md-card>
    </md-card>
  </div>

  <div id="modalCreateANotification" md-modal="dismissible: false;">
    <div class="modal-content">
      <h4>Select the required skill</h4>
      <autocomplete-skills filter-allowed.bind="false" skill.bind="skill"></autocomplete-skills>
    </div>
    <div class="modal-footer">
      <a click.delegate="newNotification()" md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">Create</a>
      <a md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">Cancel</a>
    </div>
  </div>

</template>

