<template>
  <form submit.delegate="executeSearch()" autocomplete="off">
    <h2>Search</h2>
    <fieldset>
      <div class="row">
        <md-input id="search" md-label="Put your query here" md-value.bind="query" class="col s11"></md-input>
        <a class="col s1" md-tooltip="position: bottom; text: The allowed characters for this field are limited to lowercase letters a to z, digits 0 to 9, space and comma"><i class="material-icons">info_outline</i></a>
      </div>
      <div class="actions">
        <button md-button click.bind="callServer($e)"><i class="material-icons">search</i></button>
      </div>
    <fieldset>
  </form>
</template>
