<template>
  <div class="user-detail">
    <img src="${user.smallPhoto}" width="100" alt="" class="circle-image-detail" click.delegate="goToProfile()">
    <span class="fullname" click.delegate="goToProfile(user)">${user.names}</span>
    <p class="position">
      ${user.position}
    </p>
    <div class="socialLinks">
      <a href="mailto:${user.email}" class="mdi mdi-email mdi-36px"></a>
      <a class="mdi mdi-skype mdi-36px" click.delegate="user.showSkype()"></a>
    </div>
    <a class="mdi ${collapsed ? 'mdi-menu-up' : 'mdi-menu-down'}  mdi-36px secondary-content" click.delegate="showSubDetail()"></a>
    <div class="collapsibleContent ${collapsed ? 'collapsed' : ''}">
      <div class="skills-content" if.bind="!preloaderAllowed">
        <label>Skills:</label>
        <span repeat.for="skill of user.skills">
          ${skill.name}
        </span>
      </div>
      <md-progress md-value.bind="progressValue" if.bind="preloaderAllowed"></md-progress>
    </div>
  </div>
</template>
