<template>
  <md-navbar role="navigation" class="hide-on-med-and-down">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><span>Brainy</span></a>
      <ul class="right">
        <li md-waves><a href="#benefits">Benefits</a></li>
        <li md-waves><a href="#aboutus">About Us</a></li>
        <li md-waves><a href="#contactus">Contact Us</a></li>
      </ul>
    </div>
  </md-navbar>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header brand center red-text text-lighten-2">Brainy</h1>
        <div class="row center">
          <h5 class="header col s12 light">Grow by sharing, share while learning.</h5>
        </div>
        <div class="row center">
          <a href="#home" id="start-button" click.delegate="login()" class="btn-large waves-effect waves-light red lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div md-parallax><img src="images/cropped-Home-header.jpg" alt="Brainy can help you to connect with someone that knows what you want - background"></div>
  </div>


  <div class="container" id="benefits">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Learning</h5>
            <p class="light">Search for people who can help you.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Growth</h5>
            <p class="light">Get your goals through fun competition.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Knowledge</h5>
            <p class="light">Build a solid foundation by helping others.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">This solution is intended for the Avantican people who wants to meet each other in a professional manner. Brainy is a professional integration platform, that allows us to know our fellows' skills and share ours. Unlike other similar products, it makes visible the growth within the company.</h5>
        </div>
      </div>
    </div>
    <div md-parallax><img src="images/cropped-Services-header.jpg" alt="Results background"></div>
  </div>

  <div class="container" id="aboutus">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="center light">
            This product was developed by the Xinef team, passionate people who wants to explore great manners of creating software.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">
            We want to offer our workmates an experience that can ease their lives at work.
          </h5>
        </div>
      </div>
    </div>
    <div md-parallax><img src="images/xinef-team.png" alt="Inception activities - background"></div>
  </div>
  <div class="container" id="contactus">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="center light">
            We love to receive feedback! Please drop us a line to <a href="mailto:xinef@avantica.net">xinef@avantica.net</a> with your experiences with the app: what you liked, what you disliked, which features you would like to have in the next releases. We promise to do our best.
          </p>
        </div>
      </div>
    </div>
  </div>

</template>
