<template>
  <require from ="./skill-rating"></require>
  <require from ="../badges.html"></require>
    <div class="viewer">
      <md-card>
        <h2>Profile View</h2>
        <div class="profile-primary">
          <div class="profile-image">
            <img src="${user.photo}"/>
          </div>
          <div class="profile-names">
            <h3>${user.names}</h3>
            <p>${user.position}</p>
            <p class="profile-icon">
              <i class="material-icons">mail</i>
              <a href="mailto:${user.email}">
                <span> ${user.email}</span>
              </a>
            </p>
            <p class="profile-icon">
              <i class="material-icons">settings_phone</i>
              <a click.delegate="user.showSkype()" href>
                <span> ${user.skype}</span>
              </a>
            </p>
            <p class="profile-icon">
              <i class="material-icons">place</i>
              <span> ${user.location}</span>
            </p>
            <p class="profile-icon">
              <i class="material-icons">language</i>
              <span> ${user.englishLevel}</span>
            </p>
          </div>
          <div class="profile-primary">
            <badges badges.bind="badges"></badges>
          </div>
          <!--tag section-->
          <div class="profile-primary">
            <div class="fluid-element-list">
              <div class="chip" repeat.for="tag of usertags" >
                <i click.delegate="deleteTagOnUser(tag.id)" class="close material-icons">close</i>
                <i class="close material-icons">label</i>
                ${tag.name}
              </div>
            </div>
            <div class="actions">
              <a md-sidenav-collapse="ref.bind: sideNavRight;" md-button md-waves>
                <i class="left material-icons">add_circle_outline</i>
                Add tag
              </a>
            </div>
          </div>
          <div class="profile-primary">
            <h5 class="profile-colum-default">About</h5>
            <p class="profile-colum-default">${user.summary}</p>
            <div class="profile-colum-default">
                <skill-rating user.bind="user"></skill-rating>
            </div>
          </div>
          <div class="actions">
            <button md-button click.trigger="back()" type="button"><i class="left material-icons">chevron_left</i>Back</button>
          </div>
        </div>
      </md-card>
    </div>

    <!--  Sidenav for tags  -->
    <md-sidenav view-model.ref="sideNavRight" md-edge="right">
      <div class="collection">
        <a click.delegate="tagUser(tag.id)" class="collection-item" repeat.for="tag of tags" >
              <i class="left material-icons">label_outline</i>${tag.name}</a>
      </div>
      <p><a md-button click.trigger="openNewTagModal()"><i class="material-icons right">label</i>New tag</a></p>
    </md-sidenav>

    <create-tag-modal tags.bind="tags"></create-tag-modal>
    
</template>
