<template>
  <h5>Skills</h5>
  <ul md-collapsible="accordion: true; popout: true;">
    <li repeat.for="skill of user.skillList" class="user-skill collection-item">
      <div class="collapsible-header user-skill-name">
        <div title="${skill.name}">
          ${skill.name}
        </div>
        <brainy-rating settings.bind="{ratingName: 'myLevel', rating: skill}">
        </brainy-rating>
      </div>
      <div class="collapsible-body user-skill-detail">
        <div if.bind="skill.averageLevel">
          <div>Others value this skill of ${user.names}</div>
          <brainy-rating
            settings.bind="{ratingName: 'averageLevel', rating: skill}">
          </brainy-rating>
        </div>
        <div>
          <div>How do you value this skill for ${user.names}?</div>
          <rating
            update-rate.bind="updateRateEndorse()"
            settings.bind="{ratingPropertyName: 'guestLevel'}"
            rating.bind="skill"></rating>
        </div>
      </div>
    </li>
  </ul>
</template>
