<template bindable="router">
  <div class="navbar-fixed" if.bind="isAuthenticated">
    <md-navbar>
      <div class="nav-wrapper container">

        <a id="logo-container" href="#" class="brand-logo"><span>Brainy</span></a>
        <a class="button-collapse" if.bind="!isFirstLogin" md-sidenav-collapse="ref.bind: sideNavLeft;" style="color: white;" ><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <li md-waves if.bind="!isFirstLogin"><a href="#/home">Home</a></li>
          <li md-waves if.bind="!isFirstLogin"><a href="#/myprofile">Profile</a></li>
          <li md-waves if.bind="!isFirstLogin"><a href="#/mytags">Tags</a></li>
          <li md-waves if.bind="!isFirstLogin && notificationAllowed"><a href="#/notifications">Notifications</a></li>
          <li md-waves if.bind="!isFirstLogin"><a href="#" click.trigger="logout()">Logout</a></li>
        </ul>

        <md-sidenav view-model.ref="sideNavLeft" md-edge="left" md-close-on-click="true">
          <ul>
            <li md-waves if.bind="!isFirstLogin"><a href="#/home"><i class="material-icons">home</i>Home</a></li>
            <li md-waves if.bind="!isFirstLogin"><a href="#/myprofile"><i class="material-icons">perm_identity</i>Profile</a></li>
            <li md-waves if.bind="!isFirstLogin"><a href="#/mytags"><i class="material-icons">label_outline</i>Tags</a></li>
            <li md-waves if.bind="!isFirstLogin && notificationAllowed"><a href="#/notifications"><i class="material-icons">label_outline</i>Notifications</a></li>
            <li md-waves if.bind="!isFirstLogin"><a href="#" click.trigger="logout()"><i class="material-icons">lock_outline</i>Logout</a></li>
          </ul>
        </md-sidenav>

      </div>

    </md-navbar>
  </div>
</template>
