<template>
  <div class="autocomplete-skills">
    <brainy-input md-label="Skill Name" md-brainy-value.bind="skill.name" md-validate="true" md-brainy-pattern="^[a-z][\d\sa-z]+$" md-brainy-max-length="35" md-validate-error="Please enter a valid skill name"></brainy-input>
    <brainy-autocomplete-drop-down-list skills-list.bind="user.skillList" custom-select-value.bind="selectValue()" values.bind="values"></brainy-autocomplete-drop-down-list>
  </div>
</template>
