<template bindable="user" bindable="firstLogin">
  <fieldset class="profile-secondary">
    <brainy-input md-label="Your skype*" md-brainy-value.bind="user.skype" md-brainy-pattern="^([a-z]+:)?([a-z][a-z0-9-_.]{5,31})" md-validate="true" md-brainy-max-length="37" md-required="true" md-validate-error="Please enter a valid skype user"></brainy-input>
    <br>
    <label for="userPosition">Your position*</label>
    <select required md-select="disabled.bind: disabled" value.two-way="user.position" id="userPosition">
      <option value="" disabled selected>Choose your position</option>
      <option value="Intern">Intern</option>
      <option value="Software Engineer 1">Software Engineer 1</option>
      <option value="Software Engineer 2">Software Engineer 2</option>
      <option value="Software Engineer 3">Software Engineer 3</option>
      <option value="Senior Software Engineer">Senior Software Engineer</option>
      <option value="QA 1">QA 1</option>
      <option value="QA 2">QA 2</option>
      <option value="Senior QA">Senior QA</option>
      <option value="Architect">Architect</option>
      <option value="Senior Architect">Senior Architect</option>
      <option value="Project Lead">Project Lead</option>
      <option value="Project Manager">Project Manager</option>
      <option value="Other">Other</option>
    </select>
    <br>
    <label for="userLocation">Your location*</label>
    <select required md-select="disabled.bind: disabled" value.two-way="user.location" id="userLocation">
      <option value="" disabled selected>Choose your location</option>
      <option value="4th floor - Prod 1">4th floor - Prod 1</option>
      <option value="4th floor - Prod 2">4th floor - Prod 2</option>
      <option value="5th floor - Prod 1">5th floor - Prod 1</option>
      <option value="5th floor - Prod 2">5th floor - Prod 2</option>
      <option value="6th floor - Prod 1">6th floor - Prod 1</option>
      <option value="6th floor - Prod 2">6th floor - Prod 2</option>
    </select>
    <br>
    <label for="userEnglishlevel">Your english level*</label>
    <select required md-select="disabled.bind: disabled" value.two-way="user.englishLevel" id="userEnglishlevel">
      <option value="" disabled selected>Choose your English level</option>
      <option value="A1">A1 (Basic)</option>
      <option value="A2">A2</option>
      <option value="B1">B1 (Intermediate)</option>
      <option value="B2">B2</option>
      <option value="C1">C1 (Advanced)</option>
    </select>
    <br>
    <brainy-input md-label="Tell us about your magic" md-brainy-value.bind="user.summary" md-type="textarea" md-validate="true" md-brainy-max-length="350" md-validate-error="Summary allows until 350 characters"></brainy-input>
  </fieldset>
</template>
