<template>
  <require from = "./profile-update-basic.html"></require>
  <require from = "./profile-update-skills"></require>
  <require from = "./autocomplete-skills"></require>
  <require from = "../badges.html"></require>

  <form submit.delegate="save()" novalidate>
    <md-card>
      <h2>Update your profile</h2>

      <div class="profile-primary">
        <div class="profile-image">
          <img src="${user.photo}"/>
          <a href="https://www.gravatar.com/" target="_blank">Change your Gravatar</a>
        </div>

        <div class="profile-names">
          <h3>${user.names}</h3>
          <p class="truncate">${user.email}</p>
          <button md-button if.bind="!firstLogin" click.trigger="navigateToProfileOfMe()" type="button"><i class="left material-icons">person</i>How others see me</button>
        </div>
      </div>

      <div class="profile-primary">
        <badges badges.bind="badges"></badges>
      </div>

      <ul md-collapsible="accordion: true; popout: true;">
        <li>
          <div class="collapsible-header active">Basic info</div>
          <div class="collapsible-body">
            <profile-update-basic user.bind="user"></profile-update-basic>
          </div>
        </li>

        <li>
          <div class="collapsible-header">Skills</div>
          <div class="collapsible-body">
            <profile-update-skills user.bind="user"></profile-update-skills>
          </div>
        </li>
       </ul>

       <div class="actions">
        <button md-button if.bind="!isFirstLogin" click.trigger="backHome()" type="button">
          <i class="left material-icons">chevron_left</i>Back
        </button>
        <button md-button disabled.bind="user.validateProfileInformation" type="submit">
          <i class="left material-icons">cloud_upload</i>Save
        </button>
      </div>
    </md-card>
  </form>
</template>
