<template bindable="user">
  <require from = "./autocomplete-skills"></require>
  <require from = "./hints-for-rating.html"></require>
  <fieldset class="profile-secondary">
    <div class="row">
      <div class="input-field col s12 m5">
          <autocomplete-skills user.bind="user" skill.bind="skill"></autocomplete-skills>
      </div>
      <div class="input-field col s12 m5">
          <rating settings.bind="{isView: false, ratingPropertyName: 'myLevel'}" rating.bind="skill"></rating>
          <div class="extra-info-link">
            <a md-sidenav-collapse="ref.bind: hintsForRatings;">How to set your rating?</a>
          </div>
      </div>
      <div class="input-field col s12 m2">
        <button disabled.bind="!skill.isValidated" md-button="floating: true; large: true;"
            md-waves="color: light; circle: true;" click.trigger="addSkill()">
          <i class="large material-icons">add</i>
        </button>
      </div>
    </div>
    <div>
      <label>Skills: ${user.skillList.length}/30</label>
      <section>
        <md-chip repeat.for="skill of user.skillList">
          <i class="close material-icons" click.delegate="removeFromSkillList(skill)">close</i>
          ${skill.name}
        </md-chip>
      </section>
    </div>
  </fieldset>
  <md-sidenav view-model.ref="hintsForRatings" md-edge="right" md-close-on-click="false">
    <hints-for-rating ></hints-for-rating>
  </md-sidenav>
</template>
