<template>
  <div class="input-field" if.bind="!isTextArea()">
    <input type.bind="mdType" ref="input" value.bind="mdBrainyValue" disabled.bind="mdDisabled"></input>
    <label ref="label">${mdLabel}</label>
  </div>
  <div class="input-field" if.bind="isTextArea()">
    <textarea ref="input" value.bind="mdBrainyValue" disabled.bind="mdDisabled"  class="materialize-textarea" ></textarea>
    <label ref="label">${mdLabel}</label>
  </div>
</template>
