<template>
  <ul click.delegate="rate($event)">
      <li repeat.for="i of maxRating" class="m2 s1 ${typeOfRatingClassName()}
            ${(i + 1) <= rating[settings.ratingPropertyName] ? 'selected' : ''}
            ${(i + 1) == rating[settings.ratingPropertyName] ? 'active' : ''}">
          <i class="material-icons" data-rate="${i + 1}">
              ${typeOfRatingStar(i+1)}
          </i>
      </li>
  </ul>
</template>
