<template>
<require from="../../home/components/user-detail"></require>

<section class="container">
  <div class="row">
    <div class="col s12 m4">
     <md-collection>
        <md-collection-header><h4>My tags</h4></md-collection-header>
        <md-collection-item click.delegate="findUsersByTag(tag, $index)" class="accent-text" repeat.for="tag of tags" >
          <i class="left material-icons">label_outline</i>
            ${tag.name}
        </md-collection-item>
      </md-collection>
      <p>
        <a md-button click.trigger="openNewTagModal()">
          <i class="material-icons right">label</i>
          New tag
        </a>
      </p>
    </div>
    <div class="col hide-on-small-only m8" if.bind="tagSelected">
        <md-card md-title="Results for ${tagSelected.name} " >
          <md-collection>
            <md-collection-item class="accent-text avatar user-detail" repeat.for="user of users">
              <user-detail user.bind="user"></user-detail>
            </md-collection-item>
          </md-collection>
       </md-card>
       <div class="viewer">
           <div class="button-row actions">
             <a md-button class="red" href="#modalDeleteConfirmation"><i class="left material-icons">delete</i>Delete this tag</a>
           </div>
       </div>
    </div>

    <div class="col hide-on-small-only m8" if.bind="!tagSelected">
      <md-card>
        <div class="row">
          <div class="col s6">
           <i class="material-icons">keyboard_arrow_left</i>
           <i class="material-icons">keyboard_arrow_left</i>
           </div>
           <div class="col s6">
            Choose a tag to see their content.
          </div>
        </div>
      </md-card>
    </div>
  </div>

</section>

<create-tag-modal tags.bind="tags"></create-tag-modal>

  <div>
    <div id="modalDeleteConfirmation" md-modal="dismissible: false;">
      <div class="modal-content">
          <h4>Warning!</h4>
          <p>Are you sure you want to delete this tag? </p>
      </div>
      <div class="modal-footer">
          <a click.delegate="deleteTag()" md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">Yes</a>
          <a md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">No</a>
      </div>
    </div>
  </div>

</template>
