<template>
  <section class="overlay" if.bind="spinnerAllowed" >
    <md-progress md-type="circular" md-color.bind="color" if.bind="spinnerAllowed"></md-progress>
  </section>
  <require from='./nav_bar/components/nav-bar'></require>
  <nav-bar router.bind="router"></nav-bar>
  <main class.bind="mainStyle">
    <router-view></router-view>
  </main>
  <footer md-footer>
    <div class="footer-copyright">
      <div class="container">
       <p>Copyright &copy; Avantica</p>
      </div>
    </div>
  </footer>
</template>
