$badge-size: 80px;

.badge-border {
  width: $badge-size;
  height: $badge-size;
  display: flex;
  border: solid 3px rgba(85, 40, 40, .7);
  border-radius: 50%;
  justify-content: center;

  .badge-core {
    width: $badge-size * .65;
    height: $badge-size * .65;
    display: block;
    border: solid 3px rgba(155, 40, 40, 0.8);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .75);
    align-self: center;
  }

}

.badge {
    width: $badge-size;
    text-align: center;
    margin-right: 2em;
    line-height: 1em;
    display: inline-block;

    span {
      font-size: 0.6em;
    }
}
