brainy-input .input-field label {
  left: 0;
}

skill-rating {
  div div div div md-progress div {
    height: 20px !important;
  }

  .approved-amount {
    @extend .col;
    @extend .s1;
    font-size: xx-large;
    font-style: italic;
  }

  .skill {
    @extend .col;
    @extend .s12;

    .name {
      @extend .col;
      @extend .s12;
      @extend .m3;
    }

    .bar {
      @extend .col;
      @extend .s12;
      @extend .m6;
    }

    .endorse {
      @extend .col;
      @extend .s12;
      @extend .m3;

      @media #{$medium-and-down} {
        text-align: center;
      }
    }

    @media #{$medium-and-down} {
      text-align: center;
    }
  }

  div div div div {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
  }
}
