form, .viewer {
  @extend .container;

  h2 {
    font-family: 'IM Fell English', serif;
    @extend .center-align;

    @media #{$medium-and-down} {
      font-size: 2rem;
    }
  }

  .actions {
    @extend .row;
    @extend .center-align;
    margin-top: 1.1em;
  }

  .profile-primary {
    @extend .row;
  }

  .profile-image {
    @extend .col;
    @extend .s12;
    @extend .m4;
    @extend .center-align;

    img {
      @extend .circle;
      @extend .responsive-img;
      @extend .z-depth-1;
      border: 2px solid transparent;
      max-height: 300px;
      @media #{$medium-and-down} {
        max-height: 100px;
      }
    }

    a {
      display: block;
    }
  }

  .card-content .profile-names {
    @extend .col;
    @extend .s12;
    @extend .m8;

    p {
      margin-bottom: 15px;
    }

    @media #{$small-and-down} {
      text-align: center;

      h3{
        font-size: 1.8rem;
      }

      p {
        text-align: center;
      }
    }

  }

  .profile-colum-default {
    @extend .col;
    @extend .s12;
  }

  .profile-icon {
    @extend .truncate;
    span {
     margin-left:1em;
    }
  }

  fieldset {
    border-style: none;
  }

  .profile-secondary {
    @extend .row;

    .extra-info-link {
      font-size: 0.9rem;
      padding-top: 10px;
      text-align:center;
      cursor: pointer;
    }
  }
}

.home {
  @extend .container;
}
