.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(76, 75, 75, 0.8);

  .preloader-wrapper {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
  }
}
