.user-detail {
   padding-left: 30px;
  .circle-image-detail {
    @extend .circle;
    @media #{$medium-and-up} {
      width: 65px !important;
  	 height: 65px !important;
    }
  }

  .fullname, .position {
    font-size:15px;
  }

  md-collection-item .secondary-content {
    color: black;
  }

  .socialLinks {
    @extend .secondary-content;
    right: 49px!important;
    a {
      color:black !important;
    }

    @media #{$medium-and-down} {
      position:initial !important;
      display:block;
      float:none;
    }
  }

  .collapsibleContent {
    display: none;

    .skills-content{
      font-size: 13px;

      label {
       margin-right: 0.5em;
       font-weight: bold;
      }

      span {
        &:after {
          content: ', ';
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }

  .collapsed {
    display:block;
    padding-top: 0.3em;
  }
}
